# Java specific
*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/target
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
**/*.sc

# Eclipse specific
.cache
.classpath
.project
.settings
.metadata

# IntelliJ specific
TradingSimulation.iml
.idea/

# OS specific
.DS_Store

# Project specific
ts/data/*
data/*
!data/.gitkeep
ts/src/main/resources/application.conf
